<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @blog.account_id %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @blog.account_name %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
